.home-background {
    -fx-background-image: url("../images/heathrowRunway.jpg");
    -fx-background-size: cover;
}
.runway-background {
    -fx-background-image: url("../images/grass.jpg");
    -fx-background-size: cover;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane{
   -fx-background-color: transparent;
}