.root {
    -fx-background-color: rgba(26, 26, 26, 255);
}

.spinner { -fx-base: rgba(60, 63, 65, 255); }

.home-background {
    -fx-background-image: url("../images/heathrowRunway.jpg");
    -fx-background-size: cover;
}
.runway-background {
    -fx-background-image: url("../images/grass.jpg");
    -fx-background-size: cover;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane{
   -fx-background-color: transparent;
}
.combobox {
    -fx-base: rgba(26, 26, 26, 255);
    background-color: rgba(26, 26, 26, 255);
}
.grid-border-text-style {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}
